<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1 class="hOne">Here is The list of Products detail</h1>
    <div class="productClass">
        <ul class="productDetails">
            <% for(var i=0; i < product.length; i++) {%>




                <li class="imageClass"><img src="<%=product[i].src%>" /></li>
                <ul class="nameDes">
                    <li>
                        <%= product[i].P_name %>
                    </li>
                    <li>
                        <%= product[i].P_discription %>
                    </li>
                    <li>
                        <span>&#8377;</span>
                        <%= product[i].P_price %><span>/Kg</span>
                    </li>
                    <li>
                        <span>Stock:</span>
                        <%= product[i].P_quantity %><span>Kg</span>
                    </li>
                </ul>


                <% } %>
        </ul>



    </div>


</body>

</html>